/* cabecalho */
header {
  background-color: #22668d;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15%;
}

nav {
  width: 90%;
}

#menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  flex-wrap: wrap;
}

#menu div {
  display: flex;
  padding: 0 5%;
  align-items: center;
  width: 80%;
  flex-wrap: wrap;
}

.menuitem {
  padding: 1% 5%;
  text-align: center;
}

.menuitem a {
  text-decoration: none;
  color: #fffadd;
  font-size: 18px;
}

.menuitem a:hover {
  text-decoration: underline;
  color: #ffcc70;
}

@media only screen and (max-width: 940px) {
  header {
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px 5%;
  }
  #menu,
  #menu div {
    justify-content: center;
  }
}

/* fim cabecalho */
#linkReferencia,
#containerLinksReferencia {
  align-self: end;
  color: #22668d;
}
#linkReferencia:hover {
  color: #0f2b3b;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#containerBuscaAmigo {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

.btnAzulClaroAmigo {
  border: none;
  background-color: #8ecddd;
  padding: 10px;
  color: #fffadd;
  font-size: 18px;
  width: 90px;
}

.btnAzulClaroAmigo:hover {
  background-color: #22668d;
  cursor: pointer;
}
#buscaAmigo {
  width: 320px;
  height: 42px;
  background-color: #fffadd;
  border: solid 2px #8ecddd;
  padding: 10px;
  margin-left: 20px;
}
#containerAmigos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 30px;
  width: 100%;
}
.cardAmigos {
  border: 3px solid #8ecddd;
  background-color: #22668d;
  color: #8ecddd;
  display: flex;
  padding: 20px;
  margin: 15px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.cardAmigos img {
  width: 150px;
}
.cardAmigos h3 {
  padding-bottom: 10px;
}
.cardAmigos h4 {
  text-align: center;
}

.btnDesfazerAmizade {
  color: #ffcc70;
  border: 2px solid #ffcc70;
  background-color: #22668d;
  padding: 10px;
}
.btnDesfazerAmizade:hover {
  background-color: #1d4751;
}

/* rodape */
footer {
  background-color: #22668d;
  display: flex;
  padding: 20px 15%;
  justify-content: space-between;
  flex-wrap: wrap;
}
#container-redes {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
#contato-redes {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
#contato-redes div,
#contato-redes ul {
  width: 270px;
  text-align: center;
}
#contato-redes h3 {
  color: #ffcc70;
}
#contato-redes p,
a {
  color: #e7dfb0;
  padding-left: 5px;
  padding-top: 15px;
}
#contato-redes a {
  text-decoration: none;
}
#contato-redes a:hover {
  color: #9a9475;
}
#contato-redes li {
  display: flex;
  align-items: center;
  justify-content: center;
}
.contato {
  display: flex;
  text-align: center;
}
.icones {
  padding-top: 15px;
  width: 20px;
}
#devs {
  color: #e7dfb0;
  text-align: center;
}
#devs a {
  color: #ffcc70;
}
#devs a:hover {
  color: #9a9475;
}
@media only screen and (max-width: 750px) {
  .cardAmigos {
    flex-direction: column;
    gap: 10px;
  }
  #containerBuscaAmigo {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    margin-top: 20px;
  }
  #buscaAmigo {
    width: 300px;
    margin: 0;
  }
}
@media only screen and (max-width: 1091px) {
  footer {
    justify-content: center;
  }
  #contato-redes div,
  #contato-redes ul {
    width: 100%;
    text-align: center;
  }
  .listaRedes h3 {
    padding-top: 15px;
  }
  .contato {
    justify-content: center;
  }

  #devs {
    padding-top: 30px;
  }
}
