#linkReferencia,
#containerLinksReferencia {
  align-self: end;
  color: #22668d;
}
#linkReferencia:hover {
  color: #0f2b3b;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#containerDetalheGrupo {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 8%;
  color: #22668d;
  border: 3px solid #22668d;
  margin-top: 30px;
}
#containerDetalheGrupo h2 {
  padding-bottom: 15px;
}
#containerDadosGrupo {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}
#containerDadosGrupo h3 {
  padding: 5px 0;
}
#containerDadosGrupo img {
  width: 290px;
  margin-top: 30px;
}
#descricaoProduto {
  border: 3px solid #8ecddd;
  height: 200px;
  width: 300px;
}

.btnAzulClaro {
  border: none;
  background-color: #8ecddd;
  padding: 10px;
  color: #fffadd;
  font-size: 18px;
  width: 300px;
  align-self: center;
  margin-top: 10px;
}

.btnAzulClaro:hover {
  background-color: #22668d;
  cursor: pointer;
}

#containerDatas {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 30px;
  width: 90%;
  color: #22668d;
  align-items: center;
}
#containerDatas div {
  padding: 20px;
  text-align: center;
}
#containerDatas div li {
  padding-top: 10px;
  margin-left: 10px;
}
#containerIncluirDatas {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
#containerIncluirDatas div {
  padding: 0;
}
#dataInicio,
#dataFim {
  width: 49%;
  margin: 3px;
  padding: 5px;
  width: 150px;
  background-color: #fffadd;
  border: solid 2px #8ecddd;
}
